body {
    background: #ededed;
}

header h1 small:before  {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
}

footer {
    background: #ccc;
}

article header{
    padding: 0;
    overflow: hidden;
}

article footer {
    background: none;
}

article {
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.date {
    float: right;
}

summary {
    font-weight: 700;
    line-height: 1.5;
}

.highlight {
	padding: 1em;
	background: #fafafa;
	margin-bottom: 1.5em;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}


.highlight pre {
	margin: 0;
	font-size: .85em;
	overflow-x: auto;
	white-space: pre;
	word-wrap: normal;
}

.docs-article>ul>li>.details {
	padding-left: 1em;
	margin-bottom: 1em;
}

blockquote {
	background-color: #FAFAFA;
}

blockquote>pre {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}

#docsContainer {
    position: relative;    
}

#docMenu {
	position: fixed;
    top: 10.3em;
	bottom: 0px ! important;
	width: 18em;
	overflow-y: auto;
}

#docArea {
    position: absolute;
    top: 0px;
    left: 19em;
    right: 0px;
    margin-right: -2em;
}

#mainMenu {
    margin-left: -2em;
}

/*****************************
 Media Queries
*****************************/

@media screen and (max-width: 970px) {
    #docMenu {
       position: relative ! important;
       width: 100% ! important;
       height: auto ! important;
       top: 0px ! important;
       margin-left: 1.5em ! important;
    }
    
    #docArea {
       position: relative ! important;
       width: 100% ! important;
       left: 0px;
       margin-left: 1.5em ! important;
    }
    
    #mainMenu {
        margin-left: 0px;    
    }
}