body {
    background: #ededed;
}

header h1 small:before  {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
}

footer {
    background: #ccc;
}

article header{
    padding: 0;
    overflow: hidden;
}

article footer {
    background: none;
}

article {
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.date {
    float: right;
}

summary {
    font-weight: 700;
    line-height: 1.5;
}

.highlight {
	padding: 1em;
	background: #fafafa;
	margin-bottom: 1.5em;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}


.highlight pre {
	margin: 0;
	font-size: .85em;
	overflow-x: auto;
	white-space: pre;
	word-wrap: normal;
}

