/*****************************
  Standby lightbox 
******************************/
#standbyLightBox {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0.5;
    background-color: white;
    z-index: 1000;
    display: none;
}

#standbyLightBox.visible {
    display: block;
}

#standbyLightBox {
    z-index: 10000;
    opacity: 0.2;
}

#standbyLightBox>.lightbox-container {
    position: absolute; 
    width: 4em;
    height: 4em;
    left: 50%;
    top: 50%;
    margin-left: -2em;
    margin-top: -2em;
}

/***********************************
    Toast notifications container
************************************/

#toastPanel {
	position: absolute;
	z-index: 999999;
	top: 0px;
	left: 0px;
	right: 0px;
}

#toastPanel>div {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

/***********************************
    Auto Complete
************************************/

.pink-auto-complete>input {
    position: absolute;
    left: 0px;
    right: 2.4em;
}

.pink-auto-complete>button {
    position: absolute;
    right: 0px;
    border-left: 0px;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
    padding-bottom: 0.6em;
    padding-top: 0.5em;
    margin-right: 0px ! important;
}

.pink-auto-complete-options {
    display: none; 
    position: absolute; 
    top: 2.2em; 
    left: -1px;
    right: 0px; 
    background-color: white; 
    border-left: 2px solid #E0E0E0; 
    border-bottom: 2px solid #E0E0E0; 
    border-right: 2px solid #E0E0E0; 
    z-index:1000;    
}

/***********************************
    Drag & Drop
************************************/
.pink-disable-text-selection, .pink-disable-text-selection * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select: none;
}

.pink-draggable-container .pink-draggable-selected {
}

.pink-draggable-proxy {
    opacity:0.6;
    filter:alpha(opacity=60);
    cursor: move ! important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select: none;
    pointer-events: none;
    background-color: #ffffff;
    overflow: hidden;
    padding: 1em;
    white-space: nowrap;
}

.pink-draggable-proxy .pink-drag-affordance, .pink-draggable-proxy .pink-selected-icon, .pink-draggable-proxy .pink-edit-action {
    display: none;
}

.pink-drop-panel-active {
}

.pink-drop-place-hint-before:before {
    content: '';
    display: block;
    height: 1em;
    border: 1px dashed black;
}

.pink-drop-panel-active .pink-drop-place-hint-after:after {
    content: '';
    display: block;
    height: 1em;
    border: 1px dashed black;
}

/***********************************
    Kanban
************************************/
.pink-kanban {
}

.pink-kanban .pink-section {
    float: left;
    background-color: #e3e3e3;
    width: 15em;
    padding: 0.2em; 
    border-radius: 3px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.pink-kanban .pink-section .pink-draggable-selected>.pink-card>.pink-selected-icon {
    display: block; 
}

.pink-kanban .pink-section .pink-draggable-selected>.pink-card {
    background-color: #eee;
}

.pink-kanban .pink-section .pink-card {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-bottom: 2px solid #B3B3B3;
    border-radius: 3px;
    cursor: pointer;
    max-width: 14.5em;
    min-height: 4em;
    padding: 6px 8px 1px;
    position: relative;
}

.pink-kanban .pink-section .pink-card>.pink-selected-icon {
    position: absolute;
    left: 0.3em;
    top: 0.5em;
    display: none;
    color: #A0A0A0;
    font-size: 0.6em;
}

.pink-kanban .pink-section .pink-card>.pink-drag-affordance {
    position: absolute;
    left: 0.6em;
    top: 40%;
    width: 4px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAXCAYAAAAss+5LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADASURBVBiVtc49SsNgAIDhJ1++tosOAYe2oAimCkpApOoJxNHNAwgeo7OrN3DxCOINdO3gUjDdFEWRSnTwP67iKPiM7/QmLbY67LW5f+I4XWCwSVjnJtKMc9wWVDnliCrNmCQ0hjyccJnUde2n4Jc/BAhT7HbZQYgzHKyyljMekcUenYKLnPKFtxg5X+Z9nvEhXxCW6GcUCP9ymrTYnmW/zd0rR+kigw0++1ylNGOX6xWqHuWQ53Saxw8aZ0xOKb8BYowyUQJEBT8AAAAASUVORK5CYII=);
}

.pink-kanban .pink-section .pink-card>.pink-edit-action {
    position: absolute;
    right: 0.3em;
    top: 0.5em;
    color: blue;
    width: 1.5em;
    height: 1.5em;
    text-align: right;
}

.pink-kanban .pink-section .pink-card>.pink-edit-action.ink-navigation {
    top: -0.7em;
    right: -0.1em;
    text-align: left;
}
 
.pink-kanban .pink-section .pink-card>.pink-title {
    position: absolute;
    left: 1.5em;
    right: 1.5em;
    top: 0.5em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pink-kanban .pink-section .pink-card>.pink-content {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pink-kanban .pink-section>.pink-title {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 0.5em;  
    margin-bottom: 0.5em;   
    text-align: center;
    position: relative;
}

.pink-kanban .pink-section>.pink-title>.pink-section-setup {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E3E3E3;
}


.pink-kanban .pink-section>.pink-footer {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    border-top: 1px solid #C0C0C0;
    padding-top: 0.5em;  
    margin-bottom: 0.5em;   
    text-align: center;
}

.pink-kanban .pink-section>.pink-title>div, .pink-kanban .pink-section>.pink-footer>div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pink-kanban .pink-section>.pink-title>.pink-sub-title, .pink-kanban .pink-section>.pink-footer>.pink-sub-title{
    font-size: smaller;
    color: gray;
}

.pink-kanban .pink-section>.pink-content {
    min-height: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.pink-kanban .pink-drop-panel-active {
    background-color: #eee;
}

/*****************************
 Grid & Paginator
*****************************/

.pink-paginator .pink-paginator-page-sizes {
    margin-top: 0;
}

table+.pink-paginator .pink-paginator-page-sizes {
    margin-top: 0.3em;
}

.pink-paginator .pink-paginator-page-caption {
    margin-top: 0.7em;
    margin-right: 1em;
}

.pink-paginator .pink-paginator-page-sizes>select {
    padding: 4px 4px;
}
