/*****************************
  Standby lightbox 
******************************/
#standbyLightBox {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0.5;
    background-color: white;
    z-index: 1000;
    display: none;
}

#standbyLightBox.visible {
    display: block;
}

#standbyLightBox {
    z-index: 10000;
    opacity: 0.2;
}

#standbyLightBox>.lightbox-container {
    position: absolute; 
    width: 4em;
    height: 4em;
    left: 50%;
    top: 50%;
    margin-left: -2em;
    margin-top: -2em;
}

/***********************************
    Toast notifications container
************************************/

#toastPanel {
	position: absolute;
	z-index: 999999;
	top: 0px;
	left: 0px;
	right: 0px;
}

#toastPanel>div {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

/***********************************
    Auto Complete
************************************/

.auto-complete>input {
    position: absolute;
    left: 0px;
    right: 2.4em;
}

.auto-complete>button {
    position: absolute;
    right: 0px;
    border-left: 0px;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
    padding-bottom: 0.6em;
    padding-top: 0.5em;
    margin-right: 0px ! important;
}

.auto-complete-options {
    display: none; 
    position: absolute; 
    top: 2.2em; 
    left: -1px;
    right: 0px; 
    background-color: white; 
    border-left: 2px solid #E0E0E0; 
    border-bottom: 2px solid #E0E0E0; 
    border-right: 2px solid #E0E0E0; 
    z-index:1000;    
}

/***********************************
    Drag & Drop
************************************/
.disable-text-selection, .disable-text-selection * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select: none;
}

.draggable-container .draggable-selected {
}

.draggable-proxy {
    opacity:0.6;
    filter:alpha(opacity=60);
    cursor: move ! important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select: none;
    pointer-events: none;
    background-color: #ffffff;
    overflow: hidden;
    padding: 1em;
    white-space: nowrap;
}

.draggable-proxy .drag-affordance, .draggable-proxy .selected-icon, .draggable-proxy .edit-action {
    display: none;
}

.drop-panel-active {
}

.drop-place-hint-before:before {
    content: '';
    display: block;
    height: 1em;
    border: 1px dashed black;
}

.drop-panel-active .drop-place-hint-after:after {
    content: '';
    display: block;
    height: 1em;
    border: 1px dashed black;
}

/***********************************
    Kanban
************************************/
.kanban {
}

.kanban .section {
    float: left;
    background-color: #e3e3e3;
    width: 15em;
    padding: 0.2em; 
    border-radius: 3px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.kanban .section .draggable-selected>.card>.selected-icon {
    display: block; 
}

.kanban .section .draggable-selected>.card {
    background-color: #eee;
}

.kanban .section .card {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-bottom: 2px solid #B3B3B3;
    border-radius: 3px;
    cursor: pointer;
    max-width: 14.5em;
    min-height: 4em;
    padding: 6px 8px 1px;
    position: relative;
}

.kanban .section .card>.selected-icon {
    position: absolute;
    left: 0.3em;
    top: 0.5em;
    display: none;
    color: #A0A0A0;
    font-size: 0.6em;
}

.kanban .section .card>.drag-affordance {
    position: absolute;
    left: 0.6em;
    top: 40%;
    font-size: 0.6em;
    color: #A0A0A0;
    box-shadow: 1px 1px 1px #888888;
}

.kanban .section .card>.drag-affordance>i {
    display: block;
}

.kanban .section .card>.edit-action {
    position: absolute;
    right: 0.3em;
    top: 0.5em;
    color: blue;
    width: 1.5em;
    height: 1.5em;
    text-align: right;
}

.kanban .section .card>.edit-action.ink-navigation {
    top: -0.7em;
    right: -0.1em;
    text-align: left;
}
 
.kanban .section .card>.title {
    position: absolute;
    left: 1.5em;
    right: 1.5em;
    top: 0.5em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kanban .section .card>.content {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kanban .section>.title {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 0.5em;  
    margin-bottom: 0.5em;   
    text-align: center;
    position: relative;
}

.kanban .section>.title>.section-setup {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E3E3E3;
}


.kanban .section>.footer {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    border-top: 1px solid #C0C0C0;
    padding-top: 0.5em;  
    margin-bottom: 0.5em;   
    text-align: center;
}

.kanban .section>.title>div, .kanban .section>.footer>div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kanban .section>.title>.sub-title, .kanban .section>.footer>.sub-title{
    font-size: smaller;
    color: gray;
}

.kanban .section>.content {
    min-height: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.kanban .drop-panel-active {
    background-color: #eee;
}

/*****************************
 Grid & Paginator
*****************************/

.paginator .paginator-page-sizes {
    margin-top: 0;
}

table+.paginator .paginator-page-sizes {
    margin-top: 0.3em;
}

.paginator .paginator-page-caption {
    margin-top: 0.7em;
    margin-right: 1em;
}

.paginator .paginator-page-sizes>select {
    padding: 4px 4px;
}
